[submodule "vtr"]
	path = extern/vtr
	url = https://github.com/verilog-to-routing/vtr-verilog-to-routing.git
[submodule "extern/brkgaAPI"]
	path = extern/brkgaAPI
	url = https://github.com/rfrancotoso/brkgaAPI
